html {
    background-color: #F5F5F6;
}

* {
    margin: 0;
    padding: 0;
}

a, p, input, h1, h2, h3, h4, h5 {
    font-family: var(--font-oswald);
    font-weight: 400;
}

h1 {
    color: #000000;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -2%;
    font-weight: 500;
}

h2 {
    color: #000;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    font-weight: 500;
}

h3 {
    color: #000000;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -2%;
    font-weight: 500;
}

h4 {
    color: #000000;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
    font-weight: 500;
}

h5 {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1%;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
}