.SignUp__root {
    width: 100%;
    height: max-content;
    min-height: calc(100vh - 384px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 168px;

    .frame {
        background-color: #EAEAED;
        width: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 68px 0;

        .wrapper {
            width: calc(100% - 40px);
            margin: 24px 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px;

            .title {
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -1%;
                color: #0B0B0B;
                width: 100%;
                text-align: center;
            }

            .sign_in {
                width: 100%;
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;

                a {
                    color: inherit;
                }
            }

            .hor {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .txt {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;

                    a {
                        color: inherit;
                    }
                }
            }
        }
    }

    .signin_frame {
        gap: 24px;
    }
}

@media screen and (max-width: 1920px) {
    .SignUp__root {
        .frame {

        }
    }
}

@media screen and (max-width: 1440px) {
    .SignUp__root {
        .frame {
            width: 440px;
            margin: 48px 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .SignUp__root {
        .frame {
            width: 404px;
            margin: 40px 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .SignUp__root {
        .frame {
            width: calc(100% - 40px);
            margin: 40px 0;
        }
    }
}
