.NavBar__root {
    width: 100%;
    height: 168px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .black_line {
        width: 100%;
        height: 80px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 50px;
            margin-bottom: 10px;
        }
    }

    .main_line {
        width: 100%;
        height: 88px;
        background-color: #F5F5F6;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #C1C1C8;

        .wrapper {
            width: calc(100% - 240px);
            max-width: 1680px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .mobile_menu_button {
                display: none;
            }

            .categories, .controls {
                width: max-content;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 40px;

                .link {
                    padding: 16px;
                    font-size: 18px;
                    line-height: 24px;
                    color: #0B0B0B;
                    text-transform: uppercase;
                    text-decoration: none;

                    transition: color .3s ease-in;
                }

                .all {
                    padding-left: 0;
                }

                .link:hover {
                    color: #ADADB6;
                }

                .link.active {
                    color: #9898A4;
                }
            }
    
            .controls {
                gap: 16px;

                .icon_c {
                    width: 48px;
                    height: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .profile_img {
                        width: 48px;
                        height: 48px;
                        object-fit: contain;
                        margin-right: 16px;
                    }

                    .bag_img {
                        width: 48px;
                        height: 48px;
                        object-fit: contain;
                    }

                    img {
                        transition: opacity .3s ease-in;
                    }

                    img:hover {
                        opacity: 0.5;
                    }

                    img.active {
                        opacity: 0.5;
                    }

                    .cart_counter_container {
                        position: absolute;
                        right: -9px;
                        top: -3px;
                        pointer-events: none;

                        width: 30px;
                        height: 30px;
                        border-radius: 30px;
                        background-color: #01F300;
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            color: #0B0B0B;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 12px;
                            text-align: center;
                        }
                    }
                }

                .lang_c {
                    cursor: pointer;

                    p {
                        padding: 16px 0 16px 16px;
                        color: #9898A4;
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

.MobileMenu__container {
    display: none;
}

@media screen and (max-width: 1920px) {
    .NavBar__root {
        .main_line {
            .wrapper {
                width: calc(100% - 128px);
                max-width: 1312px;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .NavBar__root {
        .main_line {
            .wrapper {
                width: calc(100% - 80px);
                max-width: 920px;

                .categories {
                    gap: 24px;
                }

                .controls {
                    gap: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .NavBar__root {
        .main_line {
            .wrapper {
                width: calc(100% - 80px);
                max-width: 688px;

                .categories {
                    gap: 8px;
                }

                .controls {
                    gap: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .NavBar__root {
        .main_line {
            .wrapper {
                width: calc(100% - 40px);
                max-width: 1000px;

                flex-direction: row;

                .mobile_menu_button {
                    display: flex;
                    width: 32px;
                    height: 32px;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }

                .categories {
                    display: none;
                }

                .controls {
                    gap: 32px;
                }
            }
        }

        .main_line.hide_border {
            border: none;
        }
    }

    .MobileMenu__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        z-index: 4;

        width: 100vw;
        height: 100%;
        background-color: #F5F5F6;

        position: fixed;
        top: 168px;
        left: -100vw;
        transition: right .3s ease-in;
        will-change: right;

        .wrapper {
            width: calc(100% - 40px);
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 0; // 180px;
            gap: 24px;

            .menu_link {
                padding: 16px 16px 16px 0;
                font-weight: 500;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -2%;
                color: #0B0B0B;
                text-decoration: none;
                text-transform: uppercase;
            }

            .menu_link.active {
                color: #9898A4;
            }
        }
    }

    .MobileMenu__container.visible {
        left: 0;
    }
}
